body{
    background-image: url("../images/white-waves.png");
    
}
h4{
    border-bottom: 1px solid grey;
}
.hasBorder{
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

#info{
    margin-top: 40px;
    font-family: serif;
}

#customer{
    height: 280px;
}

#dates{
    margin-top: 10px;
    width: 100%;
    float: right;

}
#customerInfo{
    margin-top: 50px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

   
}
#dateInfo{
    text-align: left;
}
#quote{
    margin-top: 20px;
    text-align: left;
 
}

#finalPricing{
    margin-top: 20px;
    float: right;
    width: 30%;
    font-size: 20px;
}
#pricingDiv{
    text-align: left;
    padding: 7px;

}
#pricingDiv > p{
    border-bottom: 2px solid grey;
}
.priceNums{
    float: right;
}

input{
    text-align: center;
}
#addRow{
    background-color: transparent;
    border: none;
    font-size: 30px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 900;
}
#addRow:hover{
    background-color: rgb(165, 161, 161);
}
#actionSelect{
    width: 150px;
    font-size:20px;
}

button:focus {
    outline: 0;
}
select:focus{
    outline: 0;
}
input:focus{
    outline: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}
table{
    text-align: center;
}
#description{
    text-align: left;
}
.sizes{
    width: 50px;
}